html, body{
    overflow-x: hidden;
    width: 100%;
}

html{
    scroll-behavior:smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition:0.3s ease;
}

body{
    font-family:'Poppins', sans-serif;
    background:#f5f5f5;
}

/* Flash Message */

.flash-message{
    background:#22c55e;
    color:white;
    padding:15px;
    text-align:center;
    font-size:18px;
}

/* Navbar */

.navbar{
    background-color:#0f172a;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0px 4px 10px rgba(0,0,0,0.2);
}

.logo{
    color:#06b6d4;
    font-size:32px;
    font-weight:700;
}
/* Hamburger Menu */

.menu-toggle{

    display:none;
    font-size:30px;
    color:white;
    cursor:pointer;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:500;
    position:relative;
}

.nav-links a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:2px;
    background:#06b6d4;
    transition:0.3s;
}

.nav-links a:hover::after{
    width:100%;
}

/* Active Navbar Link */

.nav-links a.active{
    color:#06b6d4;
}

.nav-links a.active::after{
    width:100%;
}


/* Hero Section */

.hero{

    height:100vh;

    background-image:url('/static/images/ac_img.jpg');

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    display:flex;

    justify-content:flex-end;

    align-items:center;

    text-align:left;

    color:white;

    padding-right:60px;

    position:relative;
}

.hero-content{

    background:rgba(0,0,0,0.25);

    padding:45px;

    border-radius:18px;

    max-width:650px;
}

.hero-content h1{
    font-size:50px;
    margin-bottom:20px;
    line-height:1.3;
}

.hero-content p{
    font-size:22px;
    margin-bottom:30px;
    line-height:1.7;
}

.hero-content button{
    padding:15px 35px;
    border:none;
    background:#06b6d4;
    color:black;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
    font-weight:600;
}

.hero-content button:hover{
    transform:scale(1.05);
    opacity:0.9;
}

/* Services Section */

.services{
    padding:100px 50px;
    background:#f8fafc;
    text-align:center;
}

.services h2{
    font-size:42px;
    margin-bottom:60px;
    color:#0f172a;
}

.service-container{
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.service-box{
    background:white;
    padding:35px;
    width:280px;
    border-radius:15px;
    box-shadow:0px 4px 15px rgba(0,0,0,0.08);
    cursor:pointer;
}

.service-box:hover{
    transform:translateY(-10px);
    box-shadow:0px 12px 24px rgba(0,0,0,0.15);
}

.service-box h3{
    margin-bottom:15px;
    color:#06b6d4;
    font-size:24px;
}

.service-box p{
    color:#555;
    line-height:1.8;
}

/* Modal */

.modal{
    display:none;
    position:fixed;
    z-index:1000;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
}

.modal-content{
    background:white;
    width:60%;
    margin:10% auto;
    padding:40px;
    border-radius:15px;
    position:relative;
}

.close-btn{
    position:absolute;
    top:15px;
    right:20px;
    font-size:32px;
    cursor:pointer;
}

/* About Section */

.about{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:60px;
    padding:100px 50px;
    background:white;
    flex-wrap:wrap;
}

.about-image img{
    width:450px;
    border-radius:15px;
    box-shadow:0px 8px 20px rgba(0,0,0,0.2);
}

.about-image img:hover{
    transform:scale(1.03);
}

.about-content{
    max-width:550px;
}

.about-content h2{
    font-size:42px;
    color:#0f172a;
    margin-bottom:20px;
}

.about-content p{
    font-size:18px;
    line-height:1.9;
    color:#555;
    margin-bottom:20px;
}

.about-content button{
    padding:15px 35px;
    border:none;
    background:#06b6d4;
    color:white;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
    font-weight:600;
}

/* Why Choose Us */

.why-us{
    padding:100px 50px;
    background:#f8fafc;
    text-align:center;
}

.why-us h2{
    font-size:42px;
    color:#0f172a;
    margin-bottom:60px;
}

.why-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.why-box{
    background:white;
    width:270px;
    padding:35px;
    border-radius:15px;
    box-shadow:0px 4px 15px rgba(0,0,0,0.08);
}

.why-box:hover{
    transform:translateY(-10px);
    background:#06b6d4;
}

.why-box:hover h3,
.why-box:hover p{
    color:white;
}

.why-box h3{
    color:#0f172a;
    margin-bottom:15px;
    font-size:24px;
}

.why-box p{
    color:#555;
    line-height:1.8;
}

/* Testimonials */

/* Testimonials Section */

.testimonials{

    padding:100px 40px;

    background:#0f172a;

    text-align:center;

    color:white;
}

.testimonials h2{

    font-size:42px;

    color:#06b6d4;

    margin-bottom:60px;
}

.testimonial-container{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:25px;

    flex-wrap:wrap;

    max-width:1200px;

    margin:auto;
}

.testimonial-box{

    background:#1e293b;

    width:320px;

    padding:35px;

    border-radius:18px;

    box-shadow:0px 6px 20px rgba(0,0,0,0.25);

    transition:0.4s ease;
}

.testimonial-box:hover{

    transform:translateY(-12px) scale(1.03);

    background:#06b6d4;
}

.testimonial-box p{

    font-size:17px;

    color:#e2e8f0;

    line-height:1.9;

    margin-bottom:20px;
}

.testimonial-box h3{

    color:gold;

    margin-bottom:15px;

    font-size:22px;
}

.testimonial-box h4{

    color:#38bdf8;

    font-size:18px;
}

/* Hover Text Change */

.testimonial-box:hover p,

.testimonial-box:hover h4{

    color:white;
}

/* Contact Section */

.contact{
    padding:100px 50px;
    background:#f8fafc;
    text-align:center;
}

.contact h2{
    font-size:42px;
    color:#0f172a;
    margin-bottom:60px;
}

.contact-container{
    display:flex;
    justify-content:center;
}

.contact form{
    width:550px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact input,
.contact textarea{
    padding:16px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
    font-family:'Poppins', sans-serif;
}

.contact input:focus,
.contact textarea:focus{
    outline:none;
    border-color:#06b6d4;
}

.contact button{
    padding:16px;
    background:#06b6d4;
    color:white;
    border:none;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
    font-weight:600;
}

.contact button:hover{
    background:#0891b2;
}

/* Footer */

.footer{
    background:#0f172a;
    color:white;
    padding:70px 50px 20px;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    gap:40px;
    flex-wrap:wrap;
}

.footer-box{
    max-width:300px;
}

.footer-box h2,
.footer-box h3{
    margin-bottom:20px;
    color:#06b6d4;
}

.footer-box p{
    line-height:1.8;
    color:#ccc;
}

.footer-box ul{
    list-style:none;
    padding:0;
}

.footer-box ul li{
    margin-bottom:10px;
}

.footer-box ul li a{
    text-decoration:none;
    color:#ccc;
}

.footer-box ul li a:hover{
    color:white;
}

.footer-bottom{
    text-align:center;
    margin-top:40px;
    border-top:1px solid #334155;
    padding-top:20px;
    color:#94a3b8;
}

/* Responsive Design */

@media(max-width:992px){


    /* Testimonials Mobile Fix */

.testimonials{

    padding:80px 20px;
}

.testimonial-container{

    width:100%;

    justify-content:center;

    align-items:center;

    margin:auto;
}

.testimonial-box{

    width:100%;

    max-width:320px;

    margin:auto;
}
    /* Navbar */

    .navbar{
        flex-wrap:wrap;
        padding:20px;
    }

    /* Hamburger Icon */

    .menu-toggle{
        display:block;
    }

    /* Mobile Navigation */

    .nav-links{

        width:100%;
        flex-direction:column;
        text-align:center;
        display:none;
        margin-top:20px;
        background:#0f172a;
        padding:20px 0;
        border-radius:10px;
        gap:20px;
    }

    /* Show Menu */
    .nav-links.active{
        display:flex;
    }

    /* Hero Section */

    .hero-content{
        margin:20px;
        padding:35px;
    }

    .hero-content h1{
        font-size:36px;
    }

    .hero-content p{
        font-size:18px;
    }


    /* Services */
    .service-container,
    .why-container,

    .testimonial-container{
        flex-direction:column;
        align-items:center;
    }

    .stat-box{

    width:100%;
}

    /* About Section */

    .about{
        flex-direction:column;
    }
    .about-image img{
        width:100%;
    }

    /* Contact Form */

    .contact form{
        width:100%;
    }

    /* Modal */

    .modal-content{
        width:90%;
    }

    /* Footer */

    .footer-container{
        flex-direction:column;
        align-items:center;
        text-align:center;
    }

    /* CTA Responsive */

    .cta-content h2{
        font-size:34px;
    }

    .cta-content p{
        font-size:18px;
    }
}

/* Scroll Reveal Animation */

.reveal{

    opacity:0;
    transform:translateY(80px);
    transition:all 1s ease;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}
/* CTA Section */

.cta-section{
    padding:100px 50px;
    background:linear-gradient(135deg, #0f172a, #06b6d4);
    text-align:center;
    color:white;
}

.cta-content{
    max-width:800px;
    margin:auto;
}

.cta-content h2{
    font-size:48px;
    margin-bottom:25px;
    line-height:1.3;
}

.cta-content p{
    font-size:20px;
    line-height:1.8;
    margin-bottom:35px;
}

.cta-content button{
    padding:18px 40px;
    background:white;
    color:#0f172a;
    border:none;
    border-radius:8px;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
}

.cta-content button:hover{
    transform:scale(1.08);
    background:#f1f5f9;
}

/* Statistics Section */

.stats-section{
    padding:100px 50px;
    background:#0f172a;
}

.stats-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.stat-box{
    background:#1e293b;
    width:250px;
    padding:40px 30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0px 6px 15px rgba(0,0,0,0.2);
}

.stat-box:hover{
    transform:translateY(-10px);
}

.stat-box h2{
    font-size:48px;
    color:#06b6d4;
    margin-bottom:15px;
}

.stat-box p{
    font-size:20px;
    color:white;
}